@import "tailwindcss";


@theme {
  --color-primary-color: #5863b3;
  --color-secondary-color: #c6c9e8;
  --color-lightbg-color: #eaecf8;
  --color-semidarkbg-color: #464f8f;
  --color-darkbg-color: #2d325c;
}

body {
  font-family: var(--font-nunito), sans-serif !important;
}